{
  "host": {
    "address": ":8080",
    "debug": false
  },
  "services": [
    {
      "name": "user",
      "host": "http://localhost:8081"
    }
  ],
  "redis": {
    "address": "localhost:6379",
    "password": "password",
    "db": 0,
    "max_retry": 3
  },
  "graceful": {
    "timeout_in_second": 30
  }
}